/*For whole document*/
* {
  box-sizing: border-box;
}

@media screen and (max-width: 700px){
  .content, nav {
    flex-direction: column;
  }
}


html, body {
  position: relative;
  overflow-x: hidden;
}

/*Body styling*/
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  height: 100%;
}

/*Code formatting*/
pre, code {
  text-decoration: none;
}

pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background: #EFEFED;}

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }


/*Message above header: Offer/Warning/Announcement*/
.headmessage {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  background-color: yellow;
}

.headmessage p {
  margin: 0;
}

/*Header/sitename/logo*/
header a {
  text-decoration: none;
  color: white;
}
header p {
  margin: 0;
}

header {
  font-size: 22px;
  width: 100%;
  font-weight: lighter;
  text-align: left;
  color: white;
  padding: 10px;
  margin: 0;
  background-color: #000000;
}

/* Navigation-Bar Styling */
nav {
  display: flex;
  position: absolute;
  top: 2px;
  right: 45px;
  background-color: #000000;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 10px 40px;
}

nav a:hover {
  color: #12b3db;
}

@media screen and (max-width: 700px) {
    nav {
      width: 50%;
      position: absolute;
      top: 45px;
      right: 0px;
      transform: translateX(100%);
    }

    nav a {
      text-align: center;
      letter-spacing: 2px;
      width: 100%;
      font-size: 18px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    nav a:hover {
      background-color: #242424;
    }
}

.active {
  transform: translateX(0%);
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 0;
  width: auto;
  height: auto;
}

@media screen and (max-width: 700px) {
  .burger {
      display: block;
  }
}

.burger div {
  height: 3px;
  width: 25px;
  margin: 6px;
  background-color: white;
}

/* Main content section */

main {
  margin: 0;
  padding: 0;
}

/*Sidebar post title formatting*/
.sidebar {
  flex: 16%;
  padding: 20px 20px 20px 0;
  margin: 0;
  background-color: white;
  /* border: 1px solid black; */
}

.sidebar a {
  text-decoration: none;
  color: #242424;
}

.sidebar a:hover {
  color: #12b3db;
  text-decoration: underline;
  transition: color;
  transition-delay: 0.08s;
}

.post_container {
  flex-basis: 84%;
  flex-wrap: wrap;
  /* border: yellow 1px solid; */
}

/*Post title formatting*/
.posts {
  flex-basis: 33.333333%;
  padding: 20px;
  background-color: white;
  /* border: 1px solid black; */
}

.posts a {
  text-decoration: none;
  color: #242424;
}

.posts a:hover {
  color: #ffa600;
  transition: color;
  transition-delay: 0.08s;
}

.posts h1 {
  font-size: 2em;
}

.latest_posts {
  display: flex;
}

#latest_posts p {
  font-size: 14px;
}

.content {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: white;
  /* border: 1px black solid; */
}

.main_post {
  margin: 0;
  width: 100px;
  padding: 0;
  background-color: white;
}

.main_card {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main_card_post {
  margin: 10px;
  width: 250px;
  padding: 20px;
  background-color: white;
  /* border: 1px solid black; */
}

.title_card_post {
  width: 300px;
}

.row_cards {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  width: 100%;
}

.imgsection {
  background-color: #878787;
  width: 100%;
  padding: 20px;
}

/* Advertisement Column on the right */
.rightside {
  flex: auto;
  padding: 20px;
}

/* Footer Section */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px;
  font-size: 14px;
  background-color: #dfe1e6;
  color: #000000;
  border: red 1px solid;
}

/* @media screen and (max-width: 700px) {
    .footer {
      flex-direction: column;
    }
} */

.footer_content {
  margin-right: auto;
  margin-bottom: 15px;
  /* border: black 1px solid; */
}

.footer_content h5, p {
  margin-top: 0;
}


/*Code Highlighting*/

.highlight { background: #fff; }

.highlighter-rouge .highlight { background: #eef; }

.highlight .c { color: #998; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .k { font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #998; font-style: italic; }

.highlight .cp { color: #999; font-weight: bold; }

.highlight .c1 { color: #998; font-style: italic; }

.highlight .cs { color: #999; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #a00; }

.highlight .gh { color: #999; }

.highlight .gi { color: #000; background-color: #dfd; }

.highlight .gi .x { color: #000; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #a00; }

.highlight .kc { font-weight: bold; }

.highlight .kd { font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #458; font-weight: bold; }

.highlight .m { color: #099; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #458; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: #900; font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: #000080; }

.highlight .nv { color: #008080; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbb; }

.highlight .mf { color: #099; }

.highlight .mh { color: #099; }

.highlight .mi { color: #099; }

.highlight .mo { color: #099; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .il { color: #099; }
