<!-- Footer Section -->
<div class="footer">

    <div class="footer_content">
        <div class="imgsection" style="height: 40px;">Logo</div>
    </div>

    <div class="footer_content">
        <p>About</p>
        <p>Customers</p>
        <p>Careers</p>
        <p>Press resources</p>
    </div>

    <div class="footer_content">
        <p>Contact Us</p>
        <p>Terms</p>
        <p>Privacy</p>
    </div>

    <div class="footer_content">
        <h5>Products</h5>
        <p>Contact Us</p>
        <p>Terms</p>
        <p>Privacy</p>
    </div>

    <div class="footer_content">
        <h5>Contribute</h5>
        <p>Write an</p>
        <p>Customer Engagement</p>
        <p>Customer Support</p>
    </div>

    <div class="footer_content">
        <h5>Share</h5>
        <p>Twitter</p>
        <p>Facebook</p>
        <p>Instagram</p>
    </div>
  </div>
