<!-- Footer Section -->
<div class="footer">

    <div class="footer_content">
        <h2>Seeker Posts</h2>
        <p style="margin-top: 20px;">About Us</p>
    </div>

    <div class="footer_content">
        <h4>Contact Us</h4>
        <p>Terms</p>
        <p>Privacy</p>
    </div>

    <div class="footer_content">
        <h4>Contribute</h4>
        <p>Write an article</p>
    </div>

    <div class="footer_content">
        <h4>Share</h4>
        <p>Twitter</p>
        <p>Facebook</p>
        <p>Instagram</p>
    </div>
  </div>
