<!-- Footer Section -->
<div class="footer">

    <div class="footer_content">
        <h2>Seeker Posts</h2>
        <p style="margin-top: 20px;">About Us</p>
    </div>

    <div class="footer_content">
        <h4>Contact Us</h4>
        <p>Terms</p>
        <p>Privacy</p>
    </div>

    <div class="footer_content">
        <h4>Contribute</h4>
        <p>Write an article</p>
    </div>
    <div class="footer_content">
        <h4>Share</h4>
        <div id="share-buttons">
          <a href="mailto:?Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://seekerposts.online">
            <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
          </a>
          <a href="http://www.facebook.com/sharer.php?u=https://seekerposts.online" target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
          </a>
          <a href="http://reddit.com/submit?url=https://seekerposts.online;" target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
          </a>
        </div>
    </div>
  </div>
