<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="wrapper">
    <!-- Main header section (logo/Sitename) -->
      <header>
        <a href="{{ site.url }}/"><p id="site_title">Seeker Posts<p></a>
      <!-- Navigation bar -->
        <div class="burger">
          <div></div>
          <div></div>
          <div></div>
        </div>

      </header>
      <nav>
          <a href="{{ site.url }}/">Home</a>
          <a href="{{ site.url }}/about">About</a>
      </nav>

      <script>
          $(document).ready(function() {
            $('.burger').click(function() {
                $('nav').toggleClass('active');
            });
          });
      </script>


        <!-- (Posts and Sidebar) Main content goes here -->

                <div class="single_post">
                    <h1 style="margin-bottom: 30px;">{{ page.title }}</h1>
                    <p><span style="font-size: 16px; line-height: 140%;">{{ content }}</span></p>

                </div>




      {% include footer.html %}
    </div>
  </body>
</html>
