<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <div class="wrapper">
    <!-- Main header section (logo/Sitename) -->
    <header>
      <a href="{{ site.url }}/"><p id="site_title">Seeker Posts<p></a>
    <!-- Navigation bar -->
      <div class="burger">
        <div></div>
        <div></div>
        <div></div>
      </div>

    </header>
    <nav>
        <a href="{{ site.url }}/">Home</a>
        <a href="{{ site.url }}/about">About</a>
    </nav>

    <script>
        $(document).ready(function() {
          $('.burger').click(function() {
              $('nav').toggleClass('active');
          });
        });
    </script>

      <!-- (Posts and Sidebar) Main content goes here -->

              <div class="single_post">
                  <h1 style="margin-bottom: 30px;">{{ page.title }}</h1>
                  <!-- AddToAny BEGIN -->
                  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                  <a class="a2a_button_whatsapp"></a>
                  <a class="a2a_button_reddit"></a>
                  <a class="a2a_button_facebook"></a>
                  <a class="a2a_button_email"></a>
                  <a class="a2a_button_twitter"></a>
                  </div>
                  <script async src="https://static.addtoany.com/menu/page.js"></script>
                  <!-- AddToAny END -->
                  </p>
                  <div class="img_section" style="height: 100px;">Image Section</div>
                  <h5 class="single_post_author">By {{ page.author }}</h5><hr>
                  <h5 class="single_post_date">{{ page.date | date_to_long_string}}</h5>
                  <br>
                  <p><span style="font-size: 16px; line-height: 140%;">{{ content }}</span></p>
              </div>




      {% include footer.html %}
  </body>
</html>
